@import "tailwindcss";

@theme {
  --color-primary: #1E0326;
  --color-secondary: #2E0740;
  --color-headers: #AB64F2;
  --color-text-main: #FFFFFF;
  --color-btn-primary: #3865F2;
  --color-btn-secondary: #35A9F2;

  /* Clases útiles directas en Tailwind v4 */
  --font-h2: var(--font-zen-dots), sans-serif;
  --font-subtitle: var(--font-fira-sans), sans-serif;
  --font-body: var(--font-fira-sans-condensed), sans-serif;
}

body {
  font-family: var(--font-fira-sans-condensed), sans-serif;
}